.list {
  background-color: rgb(131, 5, 5);
  list-style-type: none;
  padding: 20px;
  border-radius: 8px;
}

.title {
  color: rgb(0, 0, 0);
  text-align: left;
  font-weight: 700;
  font-size: 26px;
}

.author {
  color: white;
}

.content {
  font-size: 18px;
  font-weight: 500;
  color: rgb(182, 182, 182);
  display: block;
}

.name {
  font-size: 16px;
  font-weight: 700;
  color: white;
  letter-spacing: normal;
}

.box {
  display: block;
  width: 100%;
  height: 100%;
}
